@charset "UTF-8";


@media (min-width: 768px) and (orientation: landscape) {

    
    #header,.hamburger, .logo-jni{
        display: none;
    }

    #nav-desktop, #menu{
        display: block;
    }

    #header-pc{
        display: flex;
        position: fixed;
        justify-content: space-around;
        gap: 5px;
        background: rgba(139, 138, 138, 0.35);
        width: 100vw;
        padding: 5px;
        line-height: 105px;
        z-index: 1;
    }

    .ul-desktop{
        display: flex;
        justify-content: space-around;
        gap: 30px;
        list-style: none;
        
    }

    .ul-desktop > a{
        border-bottom: none;
    }

    .ul-desktop > a:hover{
        font-size: 16px;
        border-bottom: rebeccapurple 2px solid;
        color: rebeccapurple;
    }

    .start{
        background-image: url(../imgs/desktop/desktop-wpp.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .logo{
        width: 700px;
        margin-top: 15vh;
        margin-bottom: -200px;  
    
    }


    .logo-jni-pc{
        width: 110px;
    }

    .btn1{
        padding: 5px;
        height: 32px;
        width: 256px;
        border-radius: 5px;
        background-color: #7a96a0;
        border: 0px solid black;
        margin-left: -40vw;
    }

  
  }

